* {
    margin: 0;
}

body {
    background-color: #1F2937;
}

.color-selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 4em 0 2em;
}

.color-scheme-container {
    display: flex;
    justify-content: center;
}